<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".QuestionnaireActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="io.github.mesmerprism.questquestionnaire.action.START" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.oculus.intent.category.2D" />
                <data android:mimeType="application/vnd.quest-questionnaire.request+json" />
            </intent-filter>
            <layout
                android:defaultHeight="720dp"
                android:defaultWidth="1080dp"
                android:minHeight="540dp"
                android:minWidth="720dp" />
        </activity>

        <receiver
            android:name=".PeripersonalPanelCommandReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.github.mesmerprism.questquestionnaire.panel.action.PERIPERSONAL_COMMAND" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
